<br>
<div class="container-fluid">

            <div class="col-sm-12 mt-4">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="card mb-4 bg-white">
                       
                        <ul>
                            <p class="p">Welcome to Sp3College, we are providing the previous solved SPPU quation paper and also providing
                                the interview quations.
                                <br>
                                <br>
                                This website is totaly use for educational puepose. It very helpfull for SPPU university students.
                                They get previous 4 years sovleds engineering quation paper.
                                <br>
                                <br>
                                 We are providing live lectures of Information Technolgies courses such as a full stack java developer,
                                 front end developer etc. 
                                <br>
                                <br>
                          
                            </p>      
                        </ul>
                     
                    </div>
                  </div>
                <div class="col-sm-6">
                    <div class="card mb-4 bg-white">
                 
                        <div id="divimgg" class="col">
                            <img id="aboutimg" [src]="aboutimg" alt="">
                        </div>
                    
                    </div>
                  </div>
                            
            </div>
        </div>
        <div class="col-sm-12 mt-4">
          <div class="row">
            <div class="col-sm-6">
              <div class="card mb-4 bg-white">
         
                    <div id="divimgg" class="col">
                        <img id="imgs" [src]="serviceimg" alt="">
                    </div>
             
              </div>
            </div>
          <div class="col-sm-6">
              <div class="card mb-4 bg-white">
                     <ul>
                        <p class="p">
                            Our services and products portfolio is expanding fast because Sp3College is
                            conceptualized to become one vendor to outsource a range of competitively priced customized business
                            solutions in different domains-Web design and development
                            <br>
                            Cloud computing, data security, & migration
                            <br>
                            Enterprise Mobility Solutions- mobile app development
                            <br>
                            Big data and analytics support service
                            <br>
                            AI driven business management solutions
                            <br>
                            Certification training for skill development
                        </p>       
                    </ul>
                
              </div>
            </div>        
        </div>
        </div>
        <footer class="text-center text-lg-start text-white bg-secondary footer">
          <!-- Grid container -->
          <div class="container p-4 pb-0">
              <!-- Section: Links -->
              <section class="">
                  <div class="row">
                      <!--Grid column-->
                      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                          <h5 class="text-uppercase">FOOTER</h5>
                          <p>
                             Hello, I am Ganesh Pund author of sp3college.in. and I was developed this web application for students
                              get all easy solution of all education fields under the SPPU university. We are providing
                              previous question paper and aslo notes of programming languages like
                              HTML, Java Script etc.
                          </p>
                      </div>
                      <!--Grid column-->
      
                      <!--Grid column-->
                      <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                          <h5 class="text-uppercase">Contact Us</h5>
      
                          <ul class="list-unstyled mb-0">
                              <li>
                                  <a target="_blank" href="https://chat.whatsapp.com/KnZujOKLtLYEGeqISAuItw"  class="text-white"><span> <i
                                      class="fa fa-whatsapp"></i></span> Join our whatsapp group </a>
                              </li>
                              <li>
                                  <a href="#!" class="text-white"><span> <i
                                      class="fa fa-phone"></i></span>  Contact: 9420415477</a>
                              </li>
      
                          </ul>
                      </div>
                      <!--Grid column-->
                  </div>
                  <!--Grid row-->
              </section>
              <!-- Section: Links -->
      
              <hr class="mb-4" />
      
      
              <!-- Section: Social media -->
              <section class="mb-4 text-center">
                  <!-- Facebook -->
                  <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/ganesh.pund.921?mibextid=9R9pXO" role="button"><i
                          class="fa fa-facebook-f"></i></a>
      
           
                  <!-- Instagram -->
                  <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://instagram.com/_ganesh_7_7?igshid=Ym5wcTZrcmprdDQw"
                      role="button"><i class="fa fa-instagram"></i></a>
      
      
                  <!-- Github -->
                  <a class="btn btn-outline-light btn-floating m-1"target="_blank" href="https://github.com/GaneshPund7" role="button"><i class="fa fa-github"></i></a>
              </section>
              <!-- Section: Social media -->
          </div>
          <!-- Grid container -->
      
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
              © 2020 Copyright:
              <a class="text-white">sp3college.in</a>
          </div>
          <!-- Copyright -->
      </footer>
        </div>

 