<div class="container-fluid">
  <nav
    class="navbar navbar-expand bg-body-tertiary bg-info"
    style="height: 51px"
  >
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item hidenavitem">
          <button (click)="scroll(java)" class="btn btn-info text-white me-5">
            Java Notes
          </button>
        </li>

        <li class="nav-item hidenavitem">
          <button (click)="scroll(Java)" class="btn btn-info text-white me-5">
            NO SQL Notes
          </button>
        </li>
        <li class="nav-item feesasy">
          <button
            (click)="scroll(JavaScript)"
            class="btn btn-info text-white me-5"
          >
            RWD Notes
          </button>
        </li>

        <li class="nav-item feesasy">
          <button
            (click)="scroll(Angular)"
            class="btn btn-info text-white me-5"
          >
            Angular Framework Notes
          </button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="col-sm-10">
    <section #java>
      <div class="row">
        <h3 class="text-center">Java Hand written Notes</h3>

        <h4 class="">What is Java language?</h4>
        <img src="assets/img/introjava1.jpg" alt="" />
        <br />
        <hr />

        <h4 class="">Java Main method and variables of java</h4>
        <img src="assets/img/javamain.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Primitive and non primitives data types in java</h4>
        <img src="assets/img/javaDataType.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Non primitive Data types in java</h4>
        <img src="assets/img/javaDataType2.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Object and Java Class in java</h4>
        <h5 class="">Create a object in java</h5>
        <img src="assets/img/objectAndClass.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">object oriented programming java</h4>
        <h5 class="">i) Abstraction</h5>
        <h5 class="">ii) Encapsulation</h5>
        <h5 class="">iii) Inheritance</h5>
        <h5 class="">iv) Polymorphism</h5>
        <img src="assets/img/oppsAndMajorPillrr.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Inheritance In java</h4>
        <h5 class="">i) Single inheritance</h5>
        <h5 class="">ii) Multilevel inheritance</h5>
        <h5 class="">iii) Hybrid inheritance</h5>
        <h5 class="">iv) Multiple inheritance</h5>
        <h5 class="">v) Hirarchial inheritance</h5>
        <img src="assets/img/Inheritance.jpg" alt="" />
        <h4 class="">Hybrid inheritance</h4>
        <h5 class="">i) Containtment</h5>
        <h5 class="">ii) toString method in java</h5>
        <img src="assets/img/inheritance1.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Abstraction In java</h4>
        <img src="assets/img/abstratMethodInterface.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Abstract Method In java</h4>
        <h5 class="">i) Abstract Class</h5>
        <h5 class="">ii) Abstract Method</h5>

        <img src="assets/img/abstractMethod.jpg" alt="" />
        <h4 class="">Encapsulation In java</h4>
        <img src="assets/img/encapsulation.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Polymorphism In java</h4>
        <h5 class="">i) Overiding</h5>
        <h5 class="">ii) Overloading</h5>
        <h5 class="">iii) Method Signature</h5>
        <img src="assets/img/method overloading.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">File Handling In java</h4>
        <h5 class="">i)File Input Stream</h5>
        <h5 class="">ii)File Output Stream</h5>
        <h5 class="">iii)Buffer Input Stream</h5>
        <h5 class="">iv)Buffer Output Stream</h5>
        <h5 class="">v) Object Input Stream</h5>
        <img src="assets/img/fileHandling.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Input Stream and OutputStream In file handling</h4>
        <img src="assets/img/fileHandlingInputStream.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">generic referancing</h4>
        <h5 class="">i)Run Time Type Identification</h5>

        <img src="assets/img/genric refrancing.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">multitheriding</h4>
        <img src="assets/img/multitheriding.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Serilization</h4>
        <img src="assets/img/Serilization.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">De Serilization</h4>
        <img src="assets/img/DeSeri.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Final Keyword</h4>
        <img src="assets/img/FinalKeyworf.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Static Value and Revision</h4>
        <img src="assets/img/static value and revision.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Thread racing and lambda expresion in java</h4>
        <img src="assets/img/threadracingAndLambda.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Functionaly Interface</h4>
        <img src="assets/img/FuntiinalInterface.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Array List</h4>
        <h4 class="">hash set</h4>
        <h4 class="">Tree Set</h4>
        <img src="assets/img/ArrayListHashSetTreeSet.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Lambda expresion</h4>
        <img src="assets/img/LambdaEx.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Package in java</h4>
        <img src="assets/img/package.jpg" alt="" />
        <br />
        <hr />
        <h4 class="">Date and Time API in java</h4>
        <img src="assets/img/dateAndTimeAPI.jpg" alt="" />
        <br />
        <hr />
      </div>
    </section>

    <section #Java></section>
    <section #JavaScript></section>

    <section #Angular></section>
  </div>
</div>
