    <nav class="navbar navbar-expand bg-body-tertiary bg-info" style="height: 51px;">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2">
                <li class="nav-item hidenavitem">
                    <button (click)="scroll(paper2022)" class="btn btn-info text-white me-5 ">2022 Exam Paper</button>
                </li>
                <li class="nav-item hidenavitem">
                    <button (click)="scroll(paperdec2022)" class="btn btn-info text-white me-5 ">2021 Exam Paper</button>
              </li>
              <li class="nav-item ">
                <button (click)="toggleViewElectrical()" class="btn btn-info text-white me-5 ">Back to List</button>
          </li>
            </ul>
        </div>
    </nav>
    <section #paper2022>
        <div class="col-sm-10">
            <div class="text-center">
                <h3 class="text-info">FE All Question Paper</h3>
                <h5>F.E. (Semester - I & II)</h5>
                <h4>BASIC ELECTRICAL ENGINEERING</h4>
                <h3>(2019 Pattern) (Paper -may 2022 Exam) (103004)</h3>
                <button class="btn btn-link" (click)="scroll(paperdec2022)">Click here to get Dec 2022 exam paper</button>

            </div>
            

            <div class="">
                <h5 class="">Q1) a) Define and state the unit of admittance, conductance & susceptance.
                    Also draw the admittance triangle for inductive circuit.</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q1) b) Obtain the expression for current and power, when voltage v = Vm sin
                    t is applied across purely resistive circuit. Also draw the waveform
                    for voltage, current & power on common X-axis.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q1) c)The series circuit having resistance 5 , inductance 0.1 H and
                    capacitance 150 F is connected to 1-phase, 200 V, 50 Hz AC supply.
                    Calculate- <br>
                    i) Inductive reactance XL <br>
                    ii) Capacitive reactance Xc <br>
                    iii) Net reactance X <br>
                    iv) Impedance Z <br>
                    v) Current drawn by the circuit <br>
                    vi) Power factor <br>
                    vii) Active power P <br>
                    viii) Reactive power Q</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            
            <h4 class="d-flex justify-content-center">OR</h4>
            <hr>
            <div class="">
                <h5 class="">Q2) a)Define and state the unit of active, reactive and apparent power in case
                    of single phase circuit. Draw the power triangle.</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>

            <div class="">
                <h5 class="">Q2) b) Derive the expression for resonant frequency and comment on
                    impedance, current and power factor in case of series resonance circuit.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q2) c) Derive the expression for power, when voltage v = Vm sin t is applied
                    across R-L series circuit. Also draw the waveform for voltage, current
                    & power on common X-axis.</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>

            <br>
            <div class="">
                <h5 class="">Q3) a) What is phase sequence? State it’s any two applications</h5>
                <h4 class="d-flex justify-content-end">{{marks4}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q3) b) b) State the relation between : <br>
                    i) Phase voltage and line voltage <br>
                    ii) Phase current and line current in case of balanced delta connected
                    3-ph load. Using above relations, obtain the expressions for 3-ph
                    active power and 3-ph reactive power.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q3) c) A 80 kVA, 1000/250 V, 1-ph 50 Hz transformer has iron loss of 1000
                    W and copper loss 400 W, when its primary draws current of 50A.
                    Calculate <br>
                    i) Efficiency at full load and power factor = 0.8 lag.<br>
                    ii) Efficiency at half load and power factor = 1 lag.
                </h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            
            <h4 class="d-flex justify-content-center">OR</h4>
            <hr>
            <div class="">
                <h5 class="">Q4) a) What are the losses in the transformer? State the parts in which they
                    take place.</h5>
                <h4 class="d-flex justify-content-end">{{marks4}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q4) b) Derive the EMF equation of single phase transformer.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q4) c) Three identical impedances each of 6+j8  are connected in star across
                    3-ph, 415 V, 50 Hz ac supply. Determine <br>
                    i) Line voltage <br>
                    ii) Phase voltage <br>
                    iii) Phase current and line current <br>
                    iv) 3-ph active, reactive and apparent power</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
           
            <hr>
            <div class="">
                <h5 class="">Q5) a) Define the practical voltage source & explain it by means of <br>
                    i) Symbol of representation <br>
                    ii) Value of internal resistance <br>
                    iii) Graphs between V and I </h5>

                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q5) b) Derive the equations to convert Delta connected resistive circuit into
                    equivalent Star circuit.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q5) c)For the circuit given in fig 5c, write down the steps to find current
                    through PQ using Superposition Theorem. <br>
                <img src="./assets/Screenshot (262).png" alt="Loding" class="img-responsive"></h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank"
                    href="https://chem.libretexts.org/Bookshelves/Physical_and_Theoretical_Chemistry_Textbook_Maps/Supplemental_Modules_(Physical_and_Theoretical_Chemistry)/Spectroscopy/Vibrational_Spectroscopy/Infrared_Spectroscopy/Infrared_Spectroscopy"
                    class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
           
            <h4 class="d-flex justify-content-center">OR</h4>

            <hr>
            <div class="">
                <h5 class="">Q6) a) State and explain KCL & KVL</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q6) b) Calculate the current flowing through 6  (AB) for the circuit shown
                    in fig 6b, using Kirchhoff’s Laws. <br>
                <img src="./assets/Screenshot .jpg" alt="" class="img-responsive"></h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q6) c) Calculate the current flowing through 6  (AB) for the circuit shown
                    in question 6b, using Thevenin’s Theorem.</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
       
            <div class="">
                <h5 class="">Q7) a) Define resistivity of the material & state the factors on which it depends.</h5>
                <h4 class="d-flex justify-content-end">{{marks4}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q7) b) Explain construction and working principle of Lithium Ion battery
                    and state it’s any two applications.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q7) c) Derive an expression for insulation resistance of a single core cable.
                    Draw the necessary diagram. Also comment on insulation resistance
                    when</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            
            <h4 class="d-flex justify-content-center">OR</h4>
            <hr>
            <div class="">
                <h5 class="">Q8) a) Write the name of materials used for anode, cathode and electrolyte in
                    case of Lead Acid Battery. State it’s any three applications.</h5>
                <h4 class="d-flex justify-content-end">{{marks4}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q8) b) If 1
                    and 2
                    are the RTC of a conducting material at 0
                   t
                   1C and 0
                   t2C</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q8) c) A water pump lifts 12000 litre of water to a height of 15 m per minute.
                    The efficiency of motor and pump is 75% & 80% respectively.
                    Calculate <br>
                    i) Input power to motor in kW <br>
                    ii) Daily energy consumption if pump is used 04 hrs a day <br>
                    iii) Monthly electricity bill as per above daily uses for the month of
                    30 days at the rate of 10 Rs/unit.</h5>
                <h4 class="d-flex justify-content-end">{{marks5}}</h4>
                <a target="_blank" href="" class="text-info">
                    <h5>View Answer</h5>
                </a>
            </div>
          
        </div>
    </section>
    <hr>
    <section #paperdec2022>
        <div class="col-sm-10">
            <div class="text-center">
                <h3 class="text-info">FE All Question Paper</h3>
                <h5>F.E. (Semester - I & II)</h5>
                <h4>ENGINEERING CHEMISTRY</h4>
                <h3>(2019 Pattern) (Paper - 2022 Exam) (107009)</h3>
            </div>
            <div>
                <h5 class="text-info">Q1) Multiple choice questions -</h5>
                <hr>
                <div>
                    <h5>i) PPV shows ______ fluorescence on application of electric field and
                        can be used in ______</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A) blue, sutures</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) yellow-green, organic LEDs</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) red, eye-wear lenses</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) violet, drug - delivery</p>
                        </div>
                        <div>
                            <button  class="text-info btn btn-link"*ngIf="hideansbtn" (click)="showAns1()"><h5>View Answer</h5></button>
                            <button  class="text-info btn btn-link"*ngIf="!hideansbtn" (click)="HideAns1()"><h5>Hide Answer</h5></button>
                            <div *ngIf="!hideansbtn">
                                <p class="text-info"><span class="text-dark">Answer:</span> A) blue, sutures</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5>ii) C atoms in graphene show ______ hybridisation.</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A)sp3</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) sp</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) sp2</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D)sp3d2</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn1" (click)="showAns2()"><h5>View Answer</h5></button>
                        <button  class="text-info btn btn-link"*ngIf="!hideansbtn1" (click)="HideAns2()"><h5>Hide Answer</h5></button>
                        <div *ngIf="!hideansbtn1">
                            <p class="text-info"><span class="text-dark">Answer:</span> A) sp3</p>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5>iii) Power alcohol is advantageous because it _______</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A) decreases octane number</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) burns clean</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) increases calorific value</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) increases cetane number</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn2" (click)="showAns3()"><h5>View Answer</h5></button>
                        <button  class="text-info btn btn-link"*ngIf="!hideansbtn2" (click)="HideAns3()"><h5>Hide Answer</h5></button>
                        <div *ngIf="!hideansbtn2">
                            <p class="text-info"><span class="text-dark">Answer:</span> B) burns clean</p>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5>Units of calorific value are _____</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A) Cal/g</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) Cal/m</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) Joules</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) Kg/m3</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn3" (click)="showAns4()"><h5>View Answer</h5></button>
                        <button  class="text-info btn btn-link"*ngIf="!hideansbtn3" (click)="HideAns4()"><h5>Hide Answer</h5></button>
                        <div *ngIf="!hideansbtn3">
                            <p class="text-info"><span class="text-dark">Answer:</span> B) Joules</p>
                        </div>
                         
                    </div>
                </div>
                <hr>
                <div>
                    <h5>v) CO2
                        is _________ and shows ________ fundamental modes of
                        vibration.</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A) linear, 3</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) non-linear, 3</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) linear, 4</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) non-linear, 4</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn4" (click)="showAns5()"><h5>View Answer</h5></button>
                        <button  class="text-info btn btn-link"*ngIf="!hideansbtn4" (click)="HideAns5()"><h5>Hide Answer</h5></button>
                        <div *ngIf="!hideansbtn4">
                            <p class="text-info"><span class="text-dark">Answer:</span> D) non-linear, 4</p>

                        </div>
                       
                    </div>
                </div>
                <hr>
                <div>
                    <h5>vi) Electromagnetic radiations with wavelength 10-400 nm are called
                        ______ radiations.</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>Visible</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) Microwave</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) IR</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) Ultra violet</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn5" (click)="showAns6()"><h5>View Answer</h5></button>
                            <button  class="text-info btn btn-link"*ngIf="!hideansbtn5" (click)="HideAns6()"><h5>Hide Answer</h5></button>
                            <div *ngIf="!hideansbtn5">
                                <p class="text-info"><span class="text-dark">Answer:</span>D) Ultra violet</p>
                            </div>
    
                    </div>
                </div>
                <hr>
                <div>
                    <h5>vii) Tinning is coating of ______.</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A)Fe on Sn</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) Zn on Fe</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) Sn on Fe</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) Fe on Zn</p>
                        </div>
                        <div>
                            <button  class="text-info btn btn-link"*ngIf="hideansbtn6" (click)="showAns7()"><h5>View Answer</h5></button>
                            <button  class="text-info btn btn-link"*ngIf="!hideansbtn6" (click)="HideAns7()"><h5>Hide Answer</h5></button>
                            <div *ngIf="!hideansbtn6">
                                <p class="text-info"><span class="text-dark">Answer:</span> B) Fe on Zn</p>
                            </div>
                             
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <h5>viii) Rate of corrosion _______ with increase in purity of the metal.</h5>
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <p>A) decreases</p>
                        </div>
                        <div class="col-sm-6">
                            <p>B) increases</p>
                        </div>
                        <div class="col-sm-6">
                            <p>C) remains same</p>
                        </div>
                        <div class="col-sm-6">
                            <p>D) initially increases and then remains constant</p>
                        </div>
                        <button  class="text-info btn btn-link"*ngIf="hideansbtn7" (click)="showAns8()"><h5>View Answer</h5></button>
                        <button  class="text-info btn btn-link"*ngIf="!hideansbtn7" (click)="HideAns8()"><h5>Hide Answer</h5></button>
                        <div *ngIf="!hideansbtn7">
                            <p class="text-info"><span class="text-dark">Answer:</span> B) burns clean</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="">
                <h5 class="">Q1) a) Calculate power factor angle and power factor in following cases <br>
                    i) Z = 10 + j10 
                    ii) Z = 30 – j20 </h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q1) b) If a single-phase AC supply is connected to RC circuit, answer the
                    following. <br>
                    i) Draw circuit digram indicating all voltage drop and current. <br>
                    ii) Write equation for impedance and current. <br>
                    iii) Draw the phasor diagram.</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q1) c)  A coil of 100mH is connected in series with 25 resistance across 230V,
                    50 Hz supply. Find <br>
                    i) Inductive reactance and impedance <br>
                    ii) Current trhough circuit <br>
                    iii) Voltage drop across each element <br>
                    iv) Active power</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <h4 class="d-flex justify-content-center">OR</h4>

            <div class="">
                <h5 class="">Q2) a) A sinusoidal voltage V = Vm sin t applied across pure resistance circuit.
                    Derive expression active power consumed by the circuit.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q2) b) A pure capacitance of 100F is conncted across single phase voltage
                    given by v = 100 sin (314t) volts. Find <br>
                    i) Frequency of supply in Hz <br>
                    ii) Capacitive reactance <br>
                    iii) Equation of current </h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q2) c) A resistance 20. inductance of 50mH and capacitor of 75F are
                    connected in series across 230V, variable frequency supply. <br>
                    Calculate : <br>
                    i) The frequency at which resonance will occur <br>
                    ii) Current flowing through circuit <br>
                    iii) Power factor
                </h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <br>
            <div class="">
                <h5 class="">Q3) a) State the advantages of 3– ph system over 1-ph system (any 3) :</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q3) b) What are the different losses in the transformer? In which party they take
                    place and how to minisie them.</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q3) c)  A three phase load having per phase impedance (30 + j40) is connected
                    in star across 400V, 50Hz, 3-phase AC supply.<br>
                    Determine : <br>
                    i) Line and phase voltage<br>
                    ii) Line and phase current <br>
                    iii) Power factor and power factor angle<br>
                    iv) Active, reactive power</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <h4 class="d-flex justify-content-center">OR</h4>
            <hr>
            <div class="">
                <h5 class="">Q4) a) State following statements are true or false with justification. <br>
                    i) In transformer, as the load current increases, iron losses increase. <br>
                    ii) In transformer, as the load current increases, copper losses increase.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q4) b)  Derive emf equation of a single-phase transformer.</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>  
            <hr>
            <div class="">
                <h5 class="">Q4) c) Draw circuit diagram for delta load (RL types) connected across three
                    phase balanced supply and derive relation between line and phase current
                    and voltage. Also draw the phasor diagram.</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q5) a) Define following terms : <br>
                    i) Active and passive network <br>
                    ii) Linear and non-linear network </h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q5) b) b) Find the current following through 2 resistance using KVL. (Refer Fig. 5(b)</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q5) c)  Determine equivalent resistance between XY Refer Fig. 5(c)</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <h4 class="d-flex justify-content-center">OR</h4>
            <div class="">
                <h5 class="">Q7) a) State and explain KCL and KVL.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q7) b)  Three resistance each 60 are connected in delta, draw its equivalent
                    star. <br>
                    Three resistance each 60 are connected in star, draw its equivalent
                    delta.
                ',m</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href="https://chem.libretexts.org/Bookshelves/Physical_and_Theoretical_Chemistry_Textbook_Maps/Supplemental_Modules_(Physical_and_Theoretical_Chemistry)/Spectroscopy/Vibrational_Spectroscopy/Infrared_Spectroscopy/Infrared_Spectroscopy"
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q7) c) Define the following terms -. <br>
                    i) Chromophore <br>
                    ii) Hypsochromic shift <br>
                    iii) Auxochrome <br>
                    iv) Hypochromic shift</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4> 
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>  
            </div>
            
                <hr>
            <div class="">
                <h5 class="">Q8) a) Explain hydrogen evolution and oxygen absorption mechanism of
                    wet corrosion.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q8) b) What is electroplating? Explain the process with diagram and reactions.
                    Give applications of electroplating.</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q8) c) What are anodic and cathodic coatings? Which are better and why?</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <h4 class="d-flex justify-content-center">OR</h4>
            <hr>
            <div class="">
                <h5 class="">Q9) a) State Pilling Bedworth ratio and give its significance. Give the different
                    types of oxide films with suitable example formed during the oxidation
                    corrosion of metals.</h5>
                <h4 class="d-flex justify-content-end">{{marks1}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q9) b)  Explain any five factors affecting the rate of corrosion.</h5>
                <h4 class="d-flex justify-content-end">{{marks2}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
            <hr>
            <div class="">
                <h5 class="">Q9) c) What are anodic and cathodic coatings? Which are better and why?</h5>
                <h4 class="d-flex justify-content-end">{{marks3}}</h4>
                <a target="_blank" href=""
                class="text-info"><h5>View Answer</h5></a>
            </div>
        </div>
    </section>
    