<img src="./assets/dhimg.png" alt="" class="w-100 img-responsive dhimg">
<section>
<div class="container-fluid">
 
  <div class="col-sm-10">
    <section #java>
      <div class="row">
        <h3 class="text-center">Java Hand written Notes</h3>

        <h4 class=""> What is Java language?</h4>
       <img src="assets/img/introjava1.jpg" alt="">
        <br>
        <hr>

        <h4 class=""> Java Main method and variables of java</h4>
        <img src="assets/img/javamain.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Primitive and non primitives data types in java</h4>
        <img src="assets/img/javaDataType.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Non primitive Data types in java</h4>
        <img src="assets/img/javaDataType2.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Object and Java Class in java </h4>
        <h5 class="">Create a object in java</h5>
        <img src="assets/img/objectAndClass.jpg" alt="">
        <br>
        <hr>
        <h4 class="">object oriented programming java</h4>
        <h5 class="">i) Abstraction </h5>
        <h5 class="">ii) Encapsulation </h5>
        <h5 class="">iii) Inheritance </h5>
        <h5 class="">iv) Polymorphism </h5>
        <img src="assets/img/oppsAndMajorPillrr.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Inheritance In java </h4>
        <h5 class="">i) Single inheritance</h5>
        <h5 class="">ii) Multilevel inheritance</h5>
        <h5 class="">iii) Hybrid inheritance</h5>
        <h5 class="">iv) Multiple inheritance</h5>
        <h5 class="">v) Hirarchial inheritance</h5>
        <img src="assets/img/Inheritance.jpg" alt="">
        <h4 class="">Hybrid inheritance </h4>
        <h5 class="">i) Containtment</h5>
        <h5 class="">ii) toString method in java</h5>
        <img src="assets/img/inheritance1.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Abstraction In java </h4>
        <img src="assets/img/abstratMethodInterface.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Abstract Method In java </h4>
        <h5 class="">i) Abstract Class</h5>
        <h5 class="">ii) Abstract Method</h5>

        <img src="assets/img/abstractMethod.jpg" alt="">
        <h4 class="">Encapsulation In java </h4>
        <img src="assets/img/encapsulation.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Polymorphism In java </h4>
        <h5 class="">i) Overiding</h5>
        <h5 class="">ii) Overloading</h5>
        <h5 class="">iii) Method Signature</h5>
        <img src="assets/img/method overloading.jpg" alt="">
        <br>
        <hr>
        <h4 class="">File Handling In java </h4>
        <h5 class="">i)File Input Stream</h5>
        <h5 class="">ii)File Output Stream</h5>
        <h5 class="">iii)Buffer Input Stream</h5>
        <h5 class="">iv)Buffer Output Stream</h5>
        <h5 class="">v) Object Input Stream</h5>
        <img src="assets/img/fileHandling.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Input Stream and OutputStream In file handling </h4>
        <img src="assets/img/fileHandlingInputStream.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> generic referancing </h4>
        <h5 class="">i)Run Time Type Identification</h5>

        <img src="assets/img/genric refrancing.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> multitheriding</h4>
        <img src="assets/img/multitheriding.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Serilization</h4>
        <img src="assets/img/Serilization.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> De Serilization</h4>
        <img src="assets/img/DeSeri.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Final Keyword</h4>
        <img src="assets/img/FinalKeyworf.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Static Value and Revision</h4>
        <img src="assets/img/static value and revision.jpg" alt="">
        <br>
        <hr>
        <h4 class="">Thread racing and lambda expresion in java</h4>
        <img src="assets/img/threadracingAndLambda.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Functionaly Interface</h4>
        <img src="assets/img/FuntiinalInterface.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Array List </h4>
        <h4 class=""> hash set </h4>
        <h4 class=""> Tree Set </h4>
        <img src="assets/img/ArrayListHashSetTreeSet.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Lambda expresion</h4>
        <img src="assets/img/LambdaEx.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Package in java</h4>
        <img src="assets/img/package.jpg" alt="">
        <br>
        <hr>
        <h4 class=""> Date and Time API in java </h4>
        <img src="assets/img/dateAndTimeAPI.jpg" alt="">
<br>
<hr>

      </div>
    </section>
 
    <section #Java>

    </section>
    <section #JavaScript>

    </section>
  
    <section #Angular>

    </section>
  

  </div>
</div>
</section>
<section>
    <div class="container">
    <div class="col-sm-12 mt-4">
        <div class="row">
          <div class="col-sm-3">
            <div class="card mb-4 bg-secondary">
              <div class="container">
                <h5 class="text-white mt-2">Java Notes</h5>
                <h6 class="text-white mt-2"> All Java  Hand Written Notes</h6>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                        class="fa fa-download"></i></span> Download now</button>
                </div>
              </div>
            </div>
          </div>
        <div class="col-sm-3">
            <div class="card mb-4 bg-secondary">
              <div class="container">
                <h5 class="text-white mt-2">Java Script Notes</h5>
                <h6 class="text-white mt-2">All  Java  Script Hand Written Notes</h6>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                        class="fa fa-download"></i></span> Download now</button>
                        
                </div>
              </div>
            </div>
          </div>
       
          <div class="col-sm-3">
            <div class="card mb-4 bg-dark">
              <div class="container">
                <h5 class="text-white mt-2">HTML Notes</h5>
                <h6 class="text-white mt-2">All HTML Hand Written Notes</h6>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                        class="fa fa-download"></i></span> Download now</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card mb-4 bg-dark">
              <div class="container">
                <h5 class="text-white mt-2">My SQL Notes</h5>
                <h6 class="text-white mt-2">All My SQL Hand Written Notes</h6>
                <div class="d-flex justify-content-center">
                  <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                        class="fa fa-download"></i></span> Download now</button>
                </div>
              </div>
            </div>
          </div>
    </div>
</div>
<div class="col-sm-12 mt-4">
  <div class="row">
    <div class="col-sm-3">
      <div class="card mb-4 bg-primary">
        <div class="container">
          <h5 class="text-white mt-2">Angular 14 Notes</h5>
          <h6 class="text-white mt-2"> Aall Angular Hand Written Notes</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                  class="fa fa-download"></i></span> Download now</button>
          </div>
        </div>
      </div>
    </div>
  <div class="col-sm-3">
      <div class="card mb-4 bg-primary">
        <div class="container">
          <h5 class="text-white mt-2">RWD Notes</h5>
          <h6 class="text-white mt-2">All  RWD Notes  Hand Written Notes</h6>
          <div class="d-flex justify-content-center">
            <button class="btn btn-warning rounded-pill btn-sm mt-2 mb-2"><span><i
                  class="fa fa-download"></i></span> Download now</button>
                  
          </div>
        </div>
      </div>
    </div>
 
   
</div>
</div>
</div>
</section>
<footer class="text-center text-lg-start text-white bg-secondary footer">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">FOOTER</h5>
                    <p>
                       Hello, I am Ganesh Pund author of sp3college.in. and I was developed this web application for students
                        get all easy solution of all education fields under the SPPU university. We are providing
                        previous question paper and aslo notes of programming languages like
                        HTML, Java Script etc.
                    </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Contact Us</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="https://chat.whatsapp.com/KnZujOKLtLYEGeqISAuItw" class="text-white"><span> <i
                                class="fa fa-whatsapp"></i></span> Join our whatsapp group </a>
                        </li>
                        <li>
                            <a href="#!" class="text-white"><span> <i
                                class="fa fa-phone"></i></span>  Contact: 9420415477</a>
                        </li>

                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="mb-4" />


        <!-- Section: Social media -->
        <section class="mb-4 text-center">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/ganesh.pund.921?mibextid=9R9pXO" role="button"><i
                    class="fa fa-facebook-f"></i></a>

     
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://instagram.com/_ganesh_7_7?igshid=Ym5wcTZrcmprdDQw"
                role="button"><i class="fa fa-instagram"></i></a>


            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1"target="_blank" href="https://github.com/GaneshPund7" role="button"><i class="fa fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-white">sp3college.in</a>
    </div>
    <!-- Copyright -->
</footer>